html, body {
	height: 100%;
	background-image: url("file:///C:/Users/Jamie/Pictures/Backgrounds/Steins Gate.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 1.2vw;
	overflow: hidden;
}

#outer {
	position: absolute; height: 100%; width: 100%;
	display: table;
}
#middle {
	display: table-cell; vertical-align: middle;
}
#center {
	margin-left: auto; margin-right: auto;
}

#categories {
	position: relative; width: 45%; height: 100px;
	margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;
	padding: 0px;
}

.t1 {
	width: 25%;
	display: inline-block;
	text-align: center; line-height: 100px;
	font-family: 'Righteous';
}

#school {background: #0F1014 ; color: #898b90; border-top-left-radius: 10px; cursor: default;}
#school:hover {background: #27282B !important; color: #ffffff !important;}
#browsing {background: #0F1014; color: #898b90; cursor: default;}
#browsing:hover {background: #27282B !important; color: #ffffff !important;}
#productivity {background: #0F1014; color: #898b90; cursor: default;}
#productivity:hover {background: #27282B !important; color: #ffffff !important;}
#other {background: #0F1014; color: #898b90; border-top-right-radius: 10px; cursor: default;}
#other:hover {background: #27282B !important; color: #ffffff !important;}

#links {
	position: relative; width: 45%; height: 100px;
	margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;
	padding: 0px;
	display: none;
}

.t2 {
	position: absolute; width: -moz-calc(100% - 10px); height: 100px;
	display: inline-block; background: #27282B;
	margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;
	padding-left: 5px; padding-right: 5px;
	text-align: left;
	font-family: 'Righteous'; font-size: 0.9vw;
}

table {
	width: 100%;
	margin-top: 5px;
}

td {
	width: 25%; height: 25%;
}

td:hover {
	background: #0F1014;
}

.t3 {
	outline: 0;
}

a {
	text-decoration: none;
}

a:link {
	color: #ffffff;
}

a:visited{
	color: #ffffff;
}

.t4{
	list-style-position: inside;
	padding-left: 3px;
}

#form {
	position: relative; width: 45%; height:20px;
	margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;
}

#q {
	position: center; width: -moz-calc(100% - 8px); height: 28px;
	margin-top: -2px;
	border: 0px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
	padding: 0px; padding-left: 4px; padding-right: 4px;
	background: #27282B; color: #ffffff;
	font-family: 'Righteous'; font-size: 0.9vw;
}